<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/core.js"></script>

    <link rel="stylesheet" type="text/css" href="css/core.css">
</head>

<body>
    <table>
        <tr>
            <th colspan="2" align="center">Options</th>
        </tr>
        <tr>
            <td>
                <select id="data_source" name="data_source">
                    <option value="csv">CSV</option>
                    <option value="db">DB</option>
                </select>
            </td>
            <td>Data Source</td>
        </tr>
        <tr>
            <td><input type="checkbox" id="help"></td>
            <td>Display UI Help</td>
        </tr>
        <tr>
            <td><input type="checkbox" id="display_all"></td>
            <td>Include wins less than $85</td>
        </tr>
    </table>

    <br><br><br>

    <table class="top">
        <tr>
            <td>
                <div id="numbers">
                    <table class="inner">
                        <th colspan="6" align="center">Enter six unique numbers</th>
                        <tr>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><input type="text" id="num1" size="4" maxlength="2" class="number_field"></td>
                            <td style="text-align: center;"><input type="text" id="num2" size="4" maxlength="2" class="number_field"></td>
                            <td style="text-align: center;"><input type="text" id="num3" size="4" maxlength="2" class="number_field"></td>
                            <td style="text-align: center;"><input type="text" id="num4" size="4" maxlength="2" class="number_field"></td>
                            <td style="text-align: center;"><input type="text" id="num5" size="4" maxlength="2" class="number_field"></td>
                            <td style="text-align: center;"><input type="text" id="num6" size="4" maxlength="2" class="number_field"></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="6" align="center"><button onClick="window.location.href=window.location.href">Reset/Clear</button></td>
        </tr>
    </table>

    <br><br>

    <div id="base_warning" class="warning">All numbers must be between 1 and 49, and must be unique!</div>
    <div id="populate_warning" class="warning">All six fields must be populated before submitting!</div>
    <div id="no_results_warning" class="warning">No tickets won $85 or more with these numbers.</div>
    <div id="help_info" class="info">
        <ul>
            <li>All inputs, fields and results are dynamic. There is no submit button for performing changes or lookups</li>
            <li>The data source can be switched at any time. After it's been changed, the next result set will use the new source</li>
            <li>Warning messages are dynamic, and will be displayed as you type in a field, or leave a field area</li>
            <li>As number boxes are typed in, the individual box border will highlight either green or red (red is invalid, and a warning will be displayed</li>
            <li>Use the Reset/Clear button to empty all fields and flush existing settings and results</li>
        </ul>
    </div>
    <br><br>

    <table id="results_table" border="1">
        <tr>
            <td>Date</td>
            <td>Win Amount</td>
            <td>Draw Number</td>
            <td>Number Matches</td>
            <td>Bonus Match</td>
        </tr>
    </table>

    <br><br>

    <table id="totals_table" border="1">
        <tr>
            <td>Above Numbers Won:</td>
            <td><div id="total_won"></div></td>
        </tr>
        <tr>
            <td>Total Spent On Tickets:</td>
            <td><div id="total_spent_on_tickets"></div></td>
        </tr>
        <tr>
            <td>Overall Net Win/Loss:</td>
            <td><div id="net_win_loss"></div></td>
        </tr>
    </table>

</body>
</html>

